
{% load otree %}
<br>
<h4> {% block title %}Instrucciones{% endblock %} </h4>

{% block content %}
<br>

Muchas gracias por participar de este experimento. La presente sesión consta de cinco partes, que explicaremos a continuación:
<br><br>
<ul>
    <li> La <b> PARTE I </b> consiste en un cuestionario de comprensión de las instrucciones presentadas. Este está compuesto por cuatro preguntas; por cada respuesta correcta, ganará S/ 0.20. Es decir, podrá ganar hasta S/ 0.80 adicionales a los S/ 5.00 que le pagaremos por la participación en la sesión. </li>
    <br>
    <li> La <b> PARTE II </b> consiste en la elección de distintos formatos o decisiones de consumo de cigarrillos. Se presentarán distintas situaciones para los cuales deberá elegir una de las siguientes decisiones de consumo: (i) consumo en cajetilla, (ii) consumo en "suelto", (iii) dejar de fumar, según corresponda. </li>
    <br>
    <li> La <b> PARTE III </b> presentarán 2 cuestionarios relacionados con la preferencia intertemporal. A partir de ellos, usted deberá indicar responder según sus preferencias. </li>
    <br>
    <li> La <b> PARTE IV </b> consiste en una encuesta sobre su frecuencia de consumo y datos generales. </li>
    <br>
    <li> La <b> PARTE V </b> muestra el resumen de las pagos correspondientes a cada pregunta que respondió bien y al monto por participación en el experimento. Habrá un link para confirmar medio de pago.
        Cabe resaltar que aunque se solicitó tus datos personales para la inscripción a esta sesión, las respuestas brindadas en la misma serán usadas de forma <b>ANÓNIMA</b>. </li>
</ul>


{% endblock %}